@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
}
@section MenuScript{
	
}

@section TopMenu{
	<div class="content">
	<div class="header">
		<div class="wrap">
		      <header id="topnav">
			        <nav class="keep-nav-closed">
			        		 <ul>
			        		 	<li><a href="http://cnxdevsoft.com/#home">@Umbraco.GetDictionaryValue("Homepage")</a></li>
								<li><a title="CNX develop software" href="http://cnxdevsoft.com/#team">@Umbraco.GetDictionaryValue("OurServices")</a></li>
								@*<li><a title="CNX develop software" href="#ourstory" class="scroll">@Umbraco.GetDictionaryValue("Portfolio")</a></li>*@
								<li><a title="CNX develop software" href="http://cnxdevsoft.com/#blog">@Umbraco.GetDictionaryValue("AboutUs")</a></li>
								<li><a title="CNX develop software" href="http://cnxdevsoft.com/#contact">@Umbraco.GetDictionaryValue("ContactUS")</a></li>								
								<div class="clear"> </div>
							</ul>
		        	</nav>
			         <div id="Logo"><a href="/"><img alt="CNX develop software | ทีมพัฒนาเว็บ รับทำเว็บไซต์ ออกแบบเว็บไซด์ ราคาถูก เชียงใหม่" src="/images/logo3.png" title="CNX develop software | ทีมพัฒนาเว็บ รับทำเว็บไซต์ ออกแบบเว็บไซด์ ราคาถูก เชียงใหม่"></a></div>
			        	<a title="CNX develop software | ทีมพัฒนาเว็บ รับทำเว็บไซต์ ออกแบบเว็บไซด์ ราคาถูก เชียงใหม่" href="#" id="navbtn">Nav Menu</a>
			        <div class="clear"> </div>
		        </header>
		    </div>
		</div>
	</div><!--End content-->
	
}

@section MainContent{

<div class="wrapper">
    <div class="contentPage">
		<div class="articleTitle"><h2>@Model.Content.GetPropertyValue("articletitle")</h2></div>
        <div class="contentLeft">
            <div class="articleContent">@Model.Content.GetPropertyValue("articlecontent")</div>
        </div>
        <div class="contentRight">
            <div class="articlePicture">
				<img src="@Umbraco.Media(Model.Content.GetPropertyValue("articlepicture")).umbracoFile" alt="" />
			</div>
            <div class="articleLink">
				<h2>Our articles</h2>
                <ul>
				
                    
				@foreach(var subNode in Model.Content.AncestorOrSelf("Homepage").Descendants("Contentpage").OrderBy("updateDate desc")){
					if(Model.Content.Id==subNode.Id){
						<li>@subNode.Name</li>
					}
					else{<li><a href=@subNode.Url>@subNode.Name</a></li>}
				}
				
					
                </ul>
                
            </div>
        </div>
    </div>
</div>
					
					
					
					
					
 <div id="map_canvas" style="height: 300px;"> &nbsp;</div>					
					
					
}