@inherits Umbraco.Web.Mvc.UmbracoTemplatePage


 <div  class="contact" id="contact">
		 	<div class="contact">
		 		<h1>@Umbraco.GetDictionaryValue("ContactUS")</h1>
				<div class="wrap">
				<div id="ContactInfo">
				
				@Html.Raw(@Model.Content.AncestorOrSelf("Homepage").GetPropertyValue("contactInfoText"))
				@Html.Raw(@Model.Content.AncestorOrSelf("Homepage").GetPropertyValue("contactInfo"))
				
				
				</div>
		 		<div id="ContactInfoForm">
		 			<div class="con">
				  			@using (Html.BeginUmbracoForm("SubmitContactForm", "SendForm", "POST", new { id = "ContactForm", @class = "form-horizontal", role = "form" }))
{
				  					<input type="text"  placeholder="Name"  name="name" required/> 
							    	<input type="text"   placeholder="Email" name="email" required/>
									<input type="hidden" text="Contact to CNXDEVSOFT TEAM" name="title"/>	
										<div class="clear"> </div>
								    <div>
								    	<textarea name="detail" value="Message:" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = ' Message';}">Message</textarea>
								    </div>
									 <div class="con-button">
											<input type="submit" value="Send" >
									</div>
										 <input type="hidden" text="info@cnxdevsoft.com" name="mailFromUmbraco" />
										 
										 
											}
						</div>
						 <div class="clear"> </div>
					 <div class="social_icon">	
					           <ul>	
								    
								    <li class="twitter"><a href="#"><span> </span></a></li>
								    <li class="facebook"><a href="#"><span> </span></a></li>	 	
									<li class="google"><a href="#"><span> </span></a></li>
							  </ul>
		 	  		</div>
				</div></div>
		 	</div>
		 </div>
										